* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 900px;
  margin: 0 auto;
}

main > section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.bg-azure {
  background-color: #1e90ff;
  border-style:dashed;
} 
.bg-white {
  background-color: #fff;
} 
.bg-blue {
  background-color: #00008b;
} 
.bg-gray {
  background-color: #d3d3d3;
} 
.bg-black {
  background-color: #23272a;
} 

.bg-pink {
  background-color: #ffc0cb;
  border-style:dashed;
}
.bg-green {
  background-color: #008000;
  border-style:dashed;
  width: 400px;
}

.big-pink {
  background-color: #ee82ee;
  display: flex;
  border-style:dashed;
  align-items: center;
  height: 100%;
  width: 80%;
  margin-left:10%;

}

.header {
  background-color: #add8e6;
  color: #000000;
  padding: 40px 0;
}

.row {
  display: flex;
}

.large {
  display: flex;
  flex-grow: 2;
}

.barra {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

.tab {
  display: flex;
  padding: 10px;
  border: 1px solid #000;
  border-style: dashed;
  background-color: #daa520;
  flex-grow: 1;
}





.debug .row {
height: 400px;
}

.debug .col{
height: 400px;
flex-grow: 1;
}