* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 900px;
  margin: 0 auto;
}

main > section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.bg-azure {
  background-color: #1e90ff;
  border-style:dashed;
} 
.bg-white {
  background-color: #fff;
} 
.bg-blue {
  background-color: #00008b;
} 
.bg-gray {
  background-color: #d3d3d3;
} 
.bg-black {
  background-color: #23272a;
} 

.bg-pink {
  background-color: #ffc0cb;
  border-style:dashed;
}
.bg-green {
  background-color: #008000;
  border-style:dashed;
  width: 400px;
}

.row {
  display: flex;
}

.large {
  display: flex;
  flex-grow: 2;
}



.debug .row {
height: 400px;
}

.debug .col{
height: 400px;
flex-grow: 1;
}